
.highscore {
    display:inline;
    float: left;
}

.timer {
    display:inline;
    float: right;
}

.container {
    position:absolute;
    width:300px;
    height:300px;
    bottom:200px;
    right:25%;
    left:50%;
    margin-left:-150px;
  }