.highscore {
    display:inline;
    float: left;
}

.timer {
    display:inline;
    float: right;
}

.info-box {
    position:absolute;
    display:flex;
    width:600px;
    height:300px;
    bottom:200px;
    right:auto;
    left:500px;
    margin-left:-150px;
    align-items: center;
  }
  .rules {
      align-items: center;
  }
  .welcome {
      font-weight: 800;
      font-size: 28px;
      align-items: center;
      margin-left: 50px;
  }
  .btn1 {
     align-items: center;
     margin-left: 225px;
     background-color: rgb(174, 87, 255);
     color:cornsilk;
  }
  .container {
     
      text-decoration-color: cornsilk;
      position:absolute;
      display: inline-flex;
      width: 900px;;
      height:400px;
      bottom:50px;
      right:auto;
      left:500px;
      margin-left:-150px;
      align-items: center;
  }
  #questions {
      font-size: larger;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bolder;
      position:absolute;
      top: 50px;
      right: auto;
      
  }

  .answers {
      background-color: darkviolet; 
      color: ivory;
      margin-right: 5px;
      margin-bottom: 20px;
      width: 250px;
      height: 25px;
      display:flex;

        
      
  }
  .right {
font-family:cursive;
font-weight: bolder;
font-size: 24px;
  }

  
