.highscore {
    display:inline;
    float: left;
}

.timer {
    display:inline;
    float: right;
}

.info-box {
    position:absolute;
    display:flex;
    width:600px;
    height:300px;
    bottom:200px;
    right:auto;
    left:500px;
    margin-left:-150px;
    align-items: center;
  }
  .rules {
      align-items: center;
  }
  .welcome {
      font-weight: 800;
      font-size: 28px;
      align-items: center;
      margin-left: 50px;
  }
  .btn1 {
     align-items: center;
     margin-left: 225px;
     background-color: rgb(174, 87, 255);
     color:cornsilk;
  }